@charset "UTF-8";
/* CSS Document */

header {
	position: fixed;
	z-index: 1;
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(/*rgb(72, 129, 234), cornflowerblue 20%, */cornflowerblue 30%, rgb(24, 88, 205));
	width: 100%;
	height: 200px;
	font-family: Roboto Condensed, Open Sans, Roboto, Lucida Grande,  Arial, "Gill Sans", "Gill Sans MT", "Myriad Pro", "sans-serif";
}

nav {
	position: relative;
	display: block;
	height: 60px;
	background-color: rgba(0,0,0,.1);
	padding-top: 9px;
}
nav ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	position: relative;
	height: 100%;
	padding: 0;
	border-radius: 0;
	font-size: 1.1em;
	/*margin-left: 0;
	margin-right: 0;*/
	margin-bottom: 0;
}
nav a {
	display: flex;
	position: relative;
	text-decoration: none;
	height: 100%;
	padding: .5em 2em .5em 2em;
	background-image: linear-gradient(transparent 30%, rgba(0, 0, 0, .3));
	background-color: lightcoral;
	margin-left: 10px;
	margin-right: 10px;	
	border-radius: 10px 10px 0 0;
	color: ghostwhite;
	cursor: pointer;
	line-height: 1;
	/*border-right: 1px solid ghostwhite;
	border-left: 1px solid ghostwhite;*/
}
.activo {
	background-image: linear-gradient(rgba(0, 0, 0, .1) 10%, transparent); background-color: ghostwhite; color: darkslategray; font-weight: bold;
}
nav ul li {
	height: 100%;
	text-align: center;
}

div.cintilla {
	display: block;
	position: relative;
	width: 100%;
	height: 40px;
	padding-top: 10px;
	text-align: center;
	font-size: 1em;
	color: rgb(24, 88, 205);
	background-image: linear-gradient(to right, gainsboro, ghostwhite 10%, ghostwhite 90%, gainsboro);
}
div.logo {
	padding-left: 50px;
	padding-right: 50px;
	height: 150px;
	overflow: hidden;
}

div.logo p {
	display: block;
	color: ghostwhite;
	margin-top: 30px;
}

.colorCoral {
	background-color: lightcoral;
}

@media (max-width: 450px) {
	div.logo p {
	margin-top: 10px;}
}
div.logo img {
	float: left;
	height: 100%;
}

@media (max-width: 800px) {
	
	header {
		height: 150px;
	}
	
	div.logo img {
		height: 100px;
	}
	div.cintilla {
		font-size: 2vw;
		height: 30px;
	}
	nav ul li {
		width: 33.3%;
		display: block;
		text-align: center;
	}
	nav a {
		height: 100%;
	
	display: flex;
	padding-top: .2em;
	padding-bottom: .2em;
	padding-right: 0;
	padding-left: 10px;
		
		margin-right: 1px;

		
	}
	
	nav ul {
		margin-left: 0;
		margin-right: 0;
	}
}
@media (max-width: 450px) {
	nav a {font-size: 4vw; margin-left: 0px; margin-right: 0px; border-right: 1px solid rgb(137, 16, 16);}
	nav ul li {
		width: 33.3%;}
	div.logo {
		padding-left: 0;
		padding-right: 0;
		height: 150px;
		overflow: hidden;}
	div.logo p {
		font-size: 3vw;
	}
	div.logo img {
		height: 90px;
	}
}