@charset "UTF-8";
/* CSS Document */




#hamburspam {
	background-color: darkslategray;
	border-radius: 5px;
	display: block;
	position: relative;
	overflow: hidden;
	width: 40px;
	height: 25px;
	padding: 6px 10px 0 10px;
	margin-left: auto;
	margin-right: auto;	
	box-shadow: -2px 2px 5px rgba(0, 0,0, .4);
}
#hamburX {
	display: none;
}
.pan {
	width: 100%;
	height: 4px;
	border-radius: 2px;
	display:block;
	margin-bottom: 4px;
	background-color: ghostwhite;
}

.close {
  	position: relative;
  	display: block;
  	top: 0px;
	margin-left: auto;
	margin-right: auto;
 	width: auto;
  	height: auto;
}
.close:before, .close:after {
  	position: absolute;
	display: block;
	left: 18px;
  	content: ' ';
  	height: 20px;
  	width: 4px;
	background-color: ghostwhite;
	border-radius: 2px;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

@media (max-width: 550px) {
	
	
	#boton_indice {
		margin-right: 2em;
	}
}