@charset "UTF-8";
/* CSS Document */

#Fichas {
	list-style-type: decimal;
	list-style-position: outside;
	
	position: relative;
	width: 80%;
	height: auto;/*auto*/
	background-color: snow;
	margin: auto;
	margin-bottom: 2em;
	margin-top: 4em;
	padding: 10px;
	color: darkslategray;
	border-radius: 30px;
}

#Fichas li {
	padding: 10px;
	border: 1px dotted dodgerblue;
}

#Fichas li::marker {
	color: dodgerblue;
}

#Fichas cite {
	display: block;
	font-weight: 500;
	text-decoration: underline;
}