@charset "UTF-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}


/*overflow debe ser HIDDEN */
body {
	overflow-x: hidden;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	box-sizing: border-box;
	font-family:  "Nunito", Lucida Grande, Arial, "Gill Sans", "Gill Sans MT", "Myriad Pro", "sans-serif";
	
	background-color: snow;
}


main {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	box-sizing: border-box;
	margin-left: 250px;
	width: 85%;
	background-color: snow;
}

div.portadita {
	background-color:grey;
	background-image: url("../interfaz/foto-portadita.jpg");
	background-size: cover;
	background-position: center;
	background-blend-mode:multiply;
	
	display: flex;
	justify-content: space-around; /*para centrar texto*/
	align-items: center;/*para centrar texto*/
	
	position: sticky; top: 0; z-index: 2;
	width: 100%;
	height: 200px;
	
	font-size: 3em;
	color: ghostwhite;
	transition: color .6s, background 1.5s, opacity .6s;

}

div.portadita span {
	display: block;
}

div.portadita-estructura {
	box-sizing: border-box; /*exclusiva de este div*/
	overflow: hidden; /*exclusiva de este div*/
	background-color: gray;
	background-image: url("../interfaz/foto-estructura2.jpg");
	background-size: cover;
	background-position: center;
	background-blend-mode:multiply;
	
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;/*para centrar texto*/
	
	
	position: sticky; top: 0; z-index: 2;
	padding-top: 30px;
	width: 100%;
	height: 200px;
	font-size: 3em;
	color: ghostwhite;
	transition: color .6s, background 1.5s, opacity .6s;
}
.portadita-estructura span {
	/*border-bottom: 1px solid snow;*/
}

.temaLargo {
	display: block;
}
#nombreSubtema {
	/*font-size: .5em;*/
	font-size: 70%;
}
.Subtitulo {
	font-size: 60%;
}

section {
	position: relative;
	background-color: transparent;
}

section.Contenido {
	position: relative;
	width: 100%;
	/*para snap*/
	
}

/*SECCIONES TEMAS*/
section.Contenido > section {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;/*wrap*/
	flex-direction: column;
	
	position: relative;
	width: 100%;
}
/*SECCION SUB-TEMA*/
section.subtema {
	position: relative;
	width: 100%;
	/*8diciembre*/	
}
.Contenido #Estructura #Subtema3 {
}



.txtDerecha {
	/*padding-left: 100px;*/
}



#indice1 {
}
.indiceVisible {
	display: block;
}




@media (max-width: 1200px) {
	body {
	/*overflow: hidden; siempre HIDEN*/
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		box-sizing: border-box;
	}
	
	main {
		width: 100%; margin-left: 0; top: 100px;
	}
	
	div.portadita, div.portadita-estructura {
		height: 100px;
		font-size: 2em;
		top: 100px; /*bajar el stick por el header*/
	}
	section.Contenido > section {
		flex-direction: column;
	}

}







@media (max-width: 800px) {
	
	div.portadita, div.portadita-estructura {
		line-height: 1em;
	}
	div.portadita-estructura {
		font-size: 1.7em;
	}
	
}

@media (max-width: 500px) {
	div.portadita {
		height: 50px;
		font-size: 1.2em;
		top: 70px; /*bajar el stick por el header*/
		margin-bottom: 2em;/*ya que aquí desaparece el separador azul*/
	}
	div.portadita-estructura {
		height: 50px;
		font-size: 1.2em;
		top: 70px; /*bajar el stick por el header*/
		margin-bottom: 2em;/*ya que aquí desaparece el separador azul*/
		
		padding-top: 15px;
	}
	#nombreSubtema {
		font-size: 100%;
	}
	#h2falso {
		display: none;
	}
	main {
		top: 70px;
	}
	
}
