@charset "UTF-8";
/* CSS Document */

/*caracteristicas de class galeria*/
.modalGaleria iframe {
	display: block;
	position: relative;
	width: 100%;
	height: 1000px;
	margin: auto;
	margin-bottom: 2em;	
	scale: .1;
	opacity: .1;
	transition: all .5s;
	border: none;
	/*background-image: linear-gradient(slateblue, dodgerblue);*/
	
}

.modalGaleria {
	display: none; /*NONE*/
	position: fixed; /* Stay in place */
	z-index: 6; /* el modal de CITAS esta en 5*/
	padding-top: 30px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height ANTES ERA 100%*/
	overflow: hidden; /* ANTES ERA SCROLL (mayo 2024)*/
	opacity: 0;
	
  	background-color: rgba(0, 0, 0, .8); 
	transition: opacity .5s;
	box-sizing: border-box;
}
.modalGaleriaB {
	display: block; /*NONE*/
	position: fixed; /* Stay in place */
	z-index: 5; /* Sit on top */
	padding-top: 30px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height ANTES ERA 100%*/
	overflow: hidden; /* ANTES ERA SCROLL (mayo 2024)*/
	opacity: 0;
	
  	background-color: rgba(0, 0, 0, .8); 
	transition: opacity .5s;
}




.cruz {
	display: none;
	z-index: 5;
	position: absolute; /*absolute*/
  	top: 30px;
  	right: 50px; /*35*/
  	color: white;
  	font-size: 25px; /*40px*/
  	font-weight: bold;
  	transition: 0.3s;
	padding: 10px 30px 10px 30px; /*  ÁREA DE CLICADO */
	background-image: radial-gradient(rgb(30, 144, 255), rgb(0, 128, 255));
	border-radius: 10px;
	cursor: pointer;
}
figure {
	display: block;
	position: relative;
	width: 520px;
	margin: auto;
	margin-bottom: 2em;
	border-radius: 30px;
	padding: 10px;
	background-color: dodgerblue;/*rgba(30, 144, 255, 1)*/
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none;
}
figure.juntas {
	position: relative;
	display: block;
	width: 450px;
	max-height: 400px;
	overflow: hidden;
}
figure img {
	display: block;
	position: relative;
	width: 100%;
	border-radius: 5px 5px 20px 20px;
	box-shadow: 1px 3px 8px black;
}
figure video {
	position: relative;
	margin: auto;
	width: 100%;
}
figure img.superior {
	border-radius: 20px 20px 5px 5px;
	margin-bottom: 10px;
}
figure img.imgAlta {
	position: relative;
	width: auto;
	max-width: 350px;
	max-height: 400px;
	margin: auto;
}

figcaption + a {
	cursor: pointer;
}

figcaption {
	display: block;
	margin-bottom: 10px;
	color: white;
	text-align: center;
	font-size: 95%;
}
figcaption cite {
	display: inline-block;
	text-align: right;
	font-weight: 500;
	font-size: 90%;
	opacity: .8;
	margin-top: 0.5em;
}


figcaption sup {
	font-weight: bold;
}

/*la nomenclatura "FIGURA X", que es un bold */
figcaption b:first-child {
	display: block;
}


.figurasGrupo {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	width: 100%;
}

@media (max-width: 1200px) {
	.descripcion {
		width: 70%;
	}
}
@media (max-width: 800px) {
	figure {
		display: block;
		position: relative;
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2em;
		border-radius: 30px;
		padding: 10px;
		background-color: dodgerblue;/*rgba(30, 144, 255, 1)*/
		-webkit-user-select: none; /* Safari */
		-ms-user-select: none; /* IE 10 and IE 11 */
		user-select: none;
	}
}

@media (max-width: 500px) {
	figure {
		width: 93%;
	}
	figure img.imgAlta {
		max-width: 300px;
	}
}


