@charset "UTF-8";
/* CSS Document */

.modalGaleria {
	display: none; 
	position: fixed; /* Stay in place */
	z-index: 5; /* Sit on top */
	padding-top: 30px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height ANTES ERA 100%*/
	overflow: hidden; /* ANTES ERA SCROLL (mayo 2024)*/
	
  	background-color: rgba(0, 0, 0, .9); 
	transition: opacity 1s;
}

.galeria {
	box-sizing: border-box;
	position: relative;
	width: 80%;
	margin: auto;
	margin-bottom: 2em;
	margin-top: 4em;
}
.diapositiva, .diapoFalsa {
	overflow: hidden;
}
.diapoFalsa {/*border: 3px solid pink;*/}
.diapositiva {/*border: 3px solid gold;*/ display: none;}
.diapositiva img, .diapoFalsa img,  .galeria div:first-child img /*la primera imagen -falsa- de galería*/ {
	display:block;
	/*max-width: 100%;*/
	max-height: 500px;
	max-width: 900px;
	margin: auto;
	border-radius: 0 0 10px 10px;
}
.descripcion {
	display: block;
	min-height: 100px;
	background-color: indianred;
	/*border: 1px dashed pink;*/
}
.diapoFalsa p, .diapositiva p /*pie de foto individual*/ {
	display: inline-block;
	background-color: ghostwhite;
	padding: 10px;

}
.cursorgaleria {
  cursor: pointer;
}
.prev, .next /*botones laterales de galeria*/{
	display: block;
  	cursor: pointer;
  	position: absolute;
  	top: 30px;
  	width: auto;
	height: auto;
  	padding: 120px 15px 120px 15px;
  	margin-top: 0px;/*-50px*/
  	color: white;
  	font-weight: bold;
  	font-size: 20px;
  	user-select: none;
	background-color: rgba(30, 144, 255, .5) /*dodgerblue*/;
  	-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 8px 0 0 8px;
}
.prev {
	border-radius: 0 8px 8px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  	background-color: rgba(255, 255, 255, .8);
}

/* Number text (1/3 etc) */
.numbertext {
	color: ghostwhite;
  	font-size: .8em;
  	padding: 8px 12px;
	position: absolute;
	top: 0;
	font-family: Open Sans, "Trebuchet MS", Arial, serif;
}

/* Container for image text */
.captiongaleria {
	position: relative;
	display: block;
	width: auto;
	text-align: center;
	background-color: dodgerblue;
	/*background-image: linear-gradient(slateblue, lightblue);*/
	padding: 5px 16px;
	
	border-radius: 10px 10px 0 0;
	font-family: Open Sans, "Trebuchet MS", Arial, serif;
	font-size: .9em;
	font-weight: bold;
	color: ghostwhite;
	
}

.cruz {
	z-index: 3;
	position: absolute; /*absolute*/
  	top: 30px;
  	right: 50px; /*35*/
  	color: white;
  	font-size: 25px; /*40px*/
  	font-weight: bold;
  	transition: 0.3s;
	padding: 10px 30px 10px 30px; /*  ÁREA DE CLICADO */
	background-image: radial-gradient(rgb(30, 144, 255), rgb(0, 128, 255));
	border-radius: 10px;
	cursor: pointer;
}
figure {
	display: block;
	position: relative;
	width: 520px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
	border-radius: 30px;
	padding: 10px;
	background-color: dodgerblue;/*rgba(30, 144, 255, 1)*/
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none;
}
figure img {
	display: block;
	width: 100%;
	border-radius: 5px 5px 20px 20px;
	box-shadow: 1px 3px 8px black;
}

figcaption {
	display: block;
	margin-bottom: 10px;
	color: white;
	text-align: center;
	font-size: 95%;
}
figcaption cite {
	display: inline-block;
	font-weight: 500;
	font-size: 90%;
}

figcaption a {
	cursor: pointer;
}
figcaption sup {
	font-weight: bold;
}

@media (max-width: 800px) {
	figure {
		display: block;
		position: relative;
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 2em;
		border-radius: 30px;
		padding: 10px;
		background-color: dodgerblue;/*rgba(30, 144, 255, 1)*/
		-webkit-user-select: none; /* Safari */
		-ms-user-select: none; /* IE 10 and IE 11 */
		user-select: none;
	}
}

@media (max-width: 500px) {
	figure {
		width: 93%;
	}
}


