@charset "UTF-8";
/* CSS Document */

body {
	background-color: transparent;
	font-family:  "Nunito", Lucida Grande, Arial, "Gill Sans", "Gill Sans MT", "Myriad Pro", "sans-serif";
}


.galeria {
	display: block;/*NONE*/
	box-sizing: border-box;
	position: relative;
	width: 80%;
	margin: auto;
	margin-bottom: 2em;
	margin-top: 4em;
	border-radius: 20px;
	background-image: linear-gradient(slateblue, dodgerblue);
}
.diapositiva, .diapoFalsa {
	overflow: auto;
}
.diapoFalsa {/*border: 3px solid pink;*/}
.diapositiva {display: none;}
.diapositiva img, .diapoFalsa img {
	display:block;
	/*max-width: 100%;*/
	max-height: 600px;
	max-width: 800px;
	margin: auto;
	border-radius: 10px;
}

/*contenedor bajo la IMG donde va el pie de imagen*/
.descripcion {
	display: block;
	min-height: 100px;
	margin-bottom: 10px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 15px 5px 15px;
	width: 90%;
	border-radius: 10px;
	
	background-color: rgba(0, 0, 0, .7);
	color: ghostwhite;
}
.descripcion p /*pie de foto individual*/ {

}

ol span, ul span, span.inciso {
	font-family: monospace;
	font-size: 1.2em;
	font-weight: bold;
	color: cyan;
}
.descripcion ol {
	border-left: 3px dotted dodgerblue;
	list-style-position: inside;
	list-style-type: lower-alpha;
	padding-left: 20px;
	margin-top: .5em;
}
.descripcion ul {
	list-style-type: none;
	
	border-left: 2px dotted dodgerblue;
	list-style-position: outside;
	padding-left: 20px;
	margin-top: .5em;
}

.descripcion ol li {
	list-style-type:lower-alpha;
}
.descripcion ol li::marker {
	color: dodgerblue;
	font-weight: bold;
	font-size: 1.1em;
}
.descripcion cite {
	display: block;
	text-align: right;
	font-weight: 500;
	font-size: 90%;
	opacity: .8;
	/*margin-top: 0.5em;*/
}

.cursorgaleria {
  cursor: pointer;
}
.prev, .next /*botones laterales de galeria*/{
	display: block;
  	cursor: pointer;
  	position: absolute;
  	top: 50px;
  	width: auto;
	height: auto;
  	padding: 120px 15px 120px 15px;
  	margin-top: 0px;/*-50px*/
  	color: white;
  	font-weight: bold;
  	font-size: 20px;
  	user-select: none;
	background-color: rgba(0,0,0,.3) /*dodgerblue rgba(30, 144, 255, .5)*/;
  	-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 8px 0 0 8px;
}
.prev {
	border-radius: 0 8px 8px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  	background-color: rgba(255, 255, 255, .8);
}

/* Number text (1/3 etc) */
.numbertext {
	color: ghostwhite;
  	font-size: .8em;
  	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* Container for image text */
.captiongaleria {
	position: relative;
	display: block;
	width: auto;
	text-align: center;
	padding: 15px 16px;
	
	font-size: .9em;
	font-weight: 300;
	color: ghostwhite;
}


@media (max-width: 1200px) {
	.descripcion {
		width: 70%;
	}
}
@media (max-width: 800px) {
	.diapositiva img, .diapoFalsa img {
		display:block;
		max-height: 400px;
		max-width: 500px;
		margin: auto;
	}
	.galeria {
		width: 100%;
	}
}

@media (max-width: 500px) {
	.diapositiva img, .diapoFalsa img {
		width: 100%;
	}
	.prev, .next {
		padding: 100px 10px 120px 10px;
	}
}


