@charset "UTF-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: black;
}

iframe {
	border-style: none;
	position: relative;
	display: block;
	width: 700px;
	height: 700px;
	margin: auto;
}

@media (max-width: 700px) {
	iframe {
		width: 100%;
	}
}