@charset "UTF-8";
/* CSS Document */

.Citado {
	position: relative;
	display: none;/*none*/
}
.invisible {
	visibility: hidden;
}
aside {
	display: none; /*none*/
	position: fixed; /* Stay in place */
	z-index: 5; /* el z de header es 4 */
	padding-top: 200px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%;
	overflow: auto;
	opacity: 0;/* cero */
  	background-color: rgba(0, 0, 0, .8); /*rgba(0, 0, 0, .4); */
	transition: opacity .3s;
	box-sizing: border-box;
}
.bienvenida {
	display: block;
	position: fixed; /* Stay in place */
	z-index: 7; /* el z de header es 4 */
	padding-top: 15%; /* centra la caja interior*/
	left: 0;
	top: 0;
	width: 100vw; /* Full width */
	height: 100vh;
	overflow: auto;
	opacity: 1;/* cero */
  	background-color: rgba(0, 0, 0, .9); /*rgba(0, 0, 0, .4); */
	transition: opacity .3s;
	box-sizing: border-box;
	color: cyan;
}
.bienvenida div {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	
	text-align: center;
	padding-top: 100px;
	position: relative;
	width: 600px;
	height: 400px;
	border-right: 1px dotted darkslategray;
	border-left: 1px dotted darkslategray;
	margin: auto;
	
	transition: all .3s;
}
.bienvenida iframe {
	width: 300px;
	height: 200px;
	border-style: none;
	
	margin-top: 2em;
}

button.continuar {
	position: relative;
	display: block;
	width: 200px;
  	color: white;
  	font-size: 1em; /*40px*/
  	font-weight: bold;
  	transition: 0.3s;
	padding: 10px 30px 10px 30px; /*  ÁREA DE CLICADO */
	background-color: dodgerblue;
	border-radius: 10px;
	cursor: pointer;
	
	margin-top: 20px; /*separacion con el elemento superios*/
	font-family:  "Nunito", Lucida Grande, Arial, "Gill Sans", "Gill Sans MT", "Myriad Pro", "sans-serif";
}

aside > ol {
	list-style-type: decimal;
	list-style-position: outside;
	
	position: relative;
	box-sizing: border-box;
	width: 70%;
	height: auto;/*auto*/
	background-color: snow;
	margin: auto;
	margin-bottom: 2em;
	margin-top: 4em;
	padding: 10px;
	color: darkslategray;
	border-radius: 30px;
	
	scale: .5;
	transition: scale .3s;

}
/*cada una de las citaciones*/
aside > ol li {
	padding: 10px;
	border-bottom: 1px dotted dodgerblue;
	font-size: .85em;
}

aside cite {
	display: block;
	font-weight: 500;
	text-decoration: underline;
}
aside cite > a {
	color: dodgerblue;
}

@media (max-width: 800px) {
	aside > ol {
		width: 95%;
		padding: 5px;
	}
	
	.bienvenida div {
		width: 70%;
		height: 400px;
		font-size: .8em;
	}
}

@media (max-width: 500px) {
	.bienvenida div {
		width: 90%;
		height: 400px;
		padding-top: 20px;
	}
	
}

	