@charset "UTF-8";
/* CSS Document */

h2 {
	display: inline-block;
	border: 1px dotted red;
	margin-left: 10%;
	margin-right: 10%;
	letter-spacing: 1px;
}
h3, h4 {
	display: block;
	position: relative;
	margin: auto;
	text-align: left;
	font-family: Georgia, Gill Sans, Cambria;
}
h3 {
	margin-bottom: 1em;
	font-size: 1.5em;
	letter-spacing: 1px;
}
h4 {
	margin-top: 1em;
	font-size: 1.1em;
}
.columnaTitulo h4 {
	text-align: center;
	margin-top: 0;
	color: white;
}

h3.metodo {
	background-image: linear-gradient(lightcoral 50%, rgb(236, 95, 95));
	width: 100%;
	padding: 1em 1em 1em 15%;
	text-align: left;
	font-size: 1.5em;
	color: white;
}
.concepto h4 {
	margin-top: 0em;
	margin-bottom: .5em;
	color: white;
}
section p {
	border: 1px dotted red;
	
	display: block;
	clear: right;
	margin-bottom: .5em;
	color: darkslategray;
	font-size: 1.1em;
	
	text-align: justify;
	line-height: 1.6;
	margin-left: 10%;
	margin-right: 10%;
}
p.primerP {
	margin-top: 2em;
}

p.noJusty {
	text-align: left;
}
ol, ul {
	
	color: white;
	list-style-position: inside;
	display: block;
	font-size: 1.1em;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 2em;
	padding: 1em;
	border-radius: 40px;
	
}




ol.olLetras {
	list-style-type: upper-alpha;
}
.olLetras li {
	margin-bottom: 1em;
}
ol.olLetras li > ul {
	border-radius: 0px;
	border-left: 2px solid ghostwhite;
}

ul {
	list-style-type: none;
}

ul li {
	margin-bottom: .5em;
}

.envolvente {
	border: 2px solid ghostwhite;
	border-radius: 40px;
	padding-left: 2em;
	padding-top: 1em;
}

.concepto {
	display: block;
	position: relative;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 1em;
	padding: 1em;
	border-radius: 40px;
	background-image: linear-gradient(cornflowerblue 50%, rgb(72, 129, 234));
}
.concepto > p {
	color: ghostwhite;
	text-align: left;
	margin-left: 5%;
	margin-right: 0%;
}

.concepto > ol /*o en class subConcepto*/ {
	background-color: black;
	margin-left: 5%;
	margin-right: 0;
}

@media (min-width: 1000px)  {
	section p {
		border: 1px dotted red;
	
		display: block;
		margin-bottom: .5em;
		color: darkslategray;
		font-size: 1.1em;
		text-align: justify;
		margin-left: 15%;
		margin-right: 15%;
	}
	.concepto, ol, ul {
		margin-left: 15%;
		margin-right: 15%;
	}
}
@media (min-width: 1500px) {
	section p, ol, ul {
		margin-left: 20%;
		margin-right: 20%;
	}
	.concepto, ol, ul {
		margin-left: 20%;
		margin-right: 20%;
	}
}