@charset "UTF-8";
/* CSS Document */


/* SOLO TEXTOS */

h1, h2  {
	font-family: Open Sans, "Trebuchet MS", Arial, serif;
	margin-bottom: 2em;
	margin-top: 2em;

	/*color: darkslategray;*/
	font-size: 1.4em;
	display: block;
}

h3, h4, div.panelObj h3 {
	font-family: Open Sans ,"Trebuchet MS", Arial, serif;
	font-style:normal;
	text-align: center;
	display: block;
	/*color: darkslategray;*/
}

h3 {
	margin-bottom: 2em;
	margin-top: 2.5em;
}
div.panelObj h3 {margin-top: 0em;}
h4 {
	margin-bottom: 1em;
	margin-top: 3em;	
	text-align: center;
}
.parrafoSeparado {
	margin-top: 2.5em;
}


.placauno {
	display: block;
	position: relative;
	width: 100%;
	background-color: orange;
	border: 2px solid blue;
	overflow: hidden;
	height: auto;
}
.placauno img {
	width: 50%;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.textos {
	box-sizing: border-box;
	position: relative;
	padding-top: 10px;
	background-color: ghostwhite; /*ghostwhite*/
	overflow: auto;
	top: 0px;
	height: auto;
	/*width: 100%; era 100, antes de que pusieras DISPLAY FLEX al contenedor*/
	color: darkslategray;
/*	margin: auto;*/
	/*scroll-snap-type: none; ocultado 2025 abril 30*/
}

section.granTema {
	margin-bottom: 300px;
	
	scroll-snap-align: start;
	scroll-snap-stop: always;
	scroll-margin-top: 240px;
}
section.Tema {
	margin-bottom: 300px;
	transition: opacity .5s;
	transition-timing-function: ease-in-out;
	
	scroll-snap-align: start;
	scroll-snap-stop: always;
	scroll-margin-top: 240px;
}
.NoVisible {
	opacity: 0;
}
.Visible {
	opacity: 1;
}

/*agregados mayo 2025*/
a sup {color: darkslateblue;}


@media (max-width: 800px) {
	.textos {
		padding-left: 15%;
		padding-right: 15%;
	}
}
@media (min-width: 800px) {
	
	.textos {
		position: relative; 
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 10%;
		padding-right: 10%;
		/*antes era el padding general*/
		overflow: visible;
		box-shadow: 0px 2px 7px gray;
		top: 0px;	/*overflow: hidden;*/
		right: 0px;
		width: 74%;
		float: right;
		margin-right: 0;
	}
}
span.versalita {
	font-variant-caps: small-caps;
	font-weight: bold;
	font-size: 1.2em;
}


.textos section > p, .DiaSegmento section > p, div.panelObj p /* antes de poner sections tenías el Child >p*/ {
	hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	word-wrap: break-word;
	text-indent: auto; /*antes de octubre era 0 em*/
	text-align: justify;
	line-height: 1.5;
	font-family:  Open Sans, Lucida Grande,  Arial, "Gill Sans", "Gill Sans MT", "Myriad Pro", "sans-serif";
	clear: left;
	margin-bottom: .5em;
}

.textos section > p.firma, .DiaSegmento section > p.firma {
	text-align: right;
	font-style: italic;
	font-size: 1.1em;
	margin-top: 2em;
}


/*para el control de lectura*/
.textoColorClaro {color: gainsboro; /*gainsboro*/}
.textoColorMedio {color: #663333 /*#663333;*/}
.textoColorDefaul {color: inherit;}
/*para el control de lectura FFFIIINNN*/
.textos ol {
	position: relative;
	display: block;
	font-family:  Open Sans, Lucida Grande,  Arial, "Gill Sans", "Gill Sans MT", "Myriad Pro", "sans-serif";
	margin-bottom: 1.5em;
	margin-left: 1.5em;
	margin-top: 1.5em;
	list-style-position: outside;
}
.textos ul {
	font-family:  Open Sans, Lucida Grande,  Arial, "Gill Sans", "Gill Sans MT", "Myriad Pro", "sans-serif";
	margin-bottom: 1em;
	margin-left: 1.5em;
	margin-top: 1.5em;
	list-style-position: outside; /*era inside hasta 5 junio*/
}

.textos ol.procedimiento {
	margin-left: 1em;
	margin-top: 2em;
	padding-left: 2em;
	border-left: 1px solid black;
	list-style-position: outside;
}

.listaOrdenada_letras {
	list-style-type: lower-alpha;
}


.textos ol li {
	margin-left: 0em;
	margin-bottom: .5em;
}

.referencia {
	border-bottom: 1px solid gray;
	margin-left: 2em;
	text-indent: -2em;
}



.abajo {
	transform: rotate(90deg);
}


.textos ul.bullet {
	list-style-type: disc;
}
.textos ul li {
	margin-bottom: .5em;
}

.textos ul li ul {
	list-style-type: none;
	margin: .5em 0 1em 0em;
	border-left: solid 1px seagreen;
	padding: .5em;
	font-size: .9em;
}



li strong {
	font-weight: bold;
}

td strong {
	font-weight: normal;
}

.textos u {
	color: black;
}
.textos p.primero {
	text-indent: 0em;
}
.textos p.parrlista {
	margin-left: 1.5em;
	text-indent: 0em;
	margin-bottom: 1.5em;
}

.textos p.importante {
	width: 75%;
	margin: auto;
	text-align:center;
}


.txt-centrado { text-align: center;}
.txt-izquierda {text-align: left;}

/*FIN texto*/

.raya-separado {
	position: relative;
	display: block;
	width: 100%;
	height: 1px;
	background-color: darkslategray;
	margin-top: 2em;
	margin-bottom: 3em;
}
.raya-separado-sub {
	position: relative;
	display: block;
	width: 100%;
	height: 2px;
	background-color: slateblue;
	margin-top: 5em;
	margin-bottom: 5em;
}

.h1envolvente {
	position: relative;
	display: block;
	border-top: 1px solid transparent;
	height: auto;
	overflow: visible;
	top: 100;;
	padding: 50px 020 0px;
	
/*clear: both; debi a que el elemento predecesor es un fichero floar right*/
}
.h1sinpadding {
	padding-top: 0px;
	margin-bottom: 0em;
}

p.tablaTitulo {
	font-weight: bold;
	font-size: .9em;
	margin-bottom: 0em;
	margin-top: 2em;
	text-align: center;
	color: slategray;
}
table {
	display: block;
	position: relative;
	width: auto;
	border-collapse: collapse;
	font-size: .9em;
	font-family: Open Sans, Lucida Grande,  Arial, "Gill Sans", "Gill Sans MT", "Myriad Pro", "sans-serif";
	margin-top: 1.5em;
	margin-bottom: 2em;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px dotted slategray;
}
/*Nuevas epub*/ 
table caption {
	font-weight: bold;
	margin-bottom: 1em;
	margin-top: .5em;
	text-align: left;
}

tr.filaColor > td:first-child {
	font-weight: bold;
	background-color: transparent; /*no sirve porque lo ordenas en el ODD*/
}

table.tipo2 tr.filaColor > td:nth-child(even) {
	background-color: lavenderblush;
}
table.tipo2 tr.filaColor > td:nth-child(odd) {
	background-color: ghostwhite;
}
/*Nuevas end*/ 
table.tipo2 tr > td /*/las tablas con una sola fila de datos)*/ {
	background-color: lavenderblush;
}

table.tipo1 tr.filas:nth-child(even) {
	background-color: lavenderblush;
}
table.tipo1 tr.filas:nth-child(odd) {
	background-color: ghostwhite;
}

.celdaTransparente {
	background-color: transparent;
}




.primeraFila /*(antes solo th)*/ {
	background-image: linear-gradient(slateblue, darkslateblue);
	color: ghostwhite;
	border-left: 1px solid lavenderblush;
}
.esquina {
	background-color: darkgray;
	font-size: .9em;
	padding: 1em;
}
th {
	padding-bottom: .5em;
	padding-top: .5em;
	border-right: 1px solid slateblue;
}
td {
	border: 1px solid darkgray;
	padding: .3em;
}

.tipo2 td {
	text-align: center;
}
.tipo2 th.celdaespecial {
	padding-left: .5em;
	padding-right: .5em;
}
table.tipoAncha {
	overflow: auto;
}
.textos p a:hover {
	cursor: pointer;
}

.textos section > button {
	display: block;
	border-radius: 10px;
	border: none;
	width: auto;
	background-image: linear-gradient(slateblue, darkslateblue);
	color: ghostwhite;
	font-size: .9em;
	padding: 20px 20px 20px 20px;
	margin: auto;
	margin-bottom: 1em;
	clear: right;
}

img.fotografia {
	display: block;
	position: relative;
	width: 100%;
}

div.panelObj {
	display: block;
	background-image: linear-gradient(lightseagreen, rgb(0, 102, 102));
	border-radius: 30px;
	padding: 20px;
	margin-top: 50px;
	animation: aparece;
	animation-timeline: view(); /*solo sirve en chrome */
}

@keyframes aparece {
	from {opacity: .2; scale: .1;}
	to {opacity: 1; scale: 1;}
}
div.panelObj p, div.panelObj h3 {color: ghostwhite;}


@media (min-width: 1200px) {
	.textos {
		padding-left: 15%;
		padding-right: 15%;
	}
}

@media (max-width: 700px) {
	h1, h2 {
		margin-left: 10%;
	}
	.tipoAncha {
		overflow: scroll;
	}
	
	/*.textos ol {
		
	}
	.textos ul {
		
	}
	*/
	
}

@media (max-width: 500px) {
	.textos {
		padding-left: 5%;
		padding-right: 5%;
	}
	.textos > p, div.panelObj p {
		
		text-align: left;
		text-indent: 0%;
		hyphens: auto;
		-webkit-hyphens: auto;
		-ms-hyphens: auto;
	}
	
	h3, h4 {
		
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.textos ol {
		list-style-position: inside;
	}
}



