@charset "UTF-8";
/* CSS Document */


h1 {font-size: 1em; margin-left: 20px; margin-top: 10px;}

h1 small {
	display: block; margin-top: .5em; color: cornflowerblue;
}
nav > small {
	color: cornflowerblue;
	font-weight: bold;
	display: none;
	margin-bottom: 10px;
}
h2 {
	margin-left: 20%;
	margin-bottom: .5em;
}
h3 {
	text-align: center;
	margin-bottom: 1em;
	margin-top: 2em;
}
.versalita, abbr {
	font-variant: small-caps;
	font-weight: 500;
	font-size: 90%;
}

.separaTemas {
	display: block;
	background-image: linear-gradient(to right, rgb(50, 113, 231), cornflowerblue, rgb(50, 113, 231));
	width: 100%;
	height: 50px;
	margin-bottom: 30px;
}
.modulo > p {
	color: darkslategray;
	margin-left: 20%;
	margin-right: 30px;
	line-height: 1.5;
}

.txt-grande {
	font-size: 1.1em;
}
.modulo-textos > p {
	position: relative;
	max-width: 650px;
	margin: auto;
	line-height: 1.7;
	padding-bottom: 2em;
	text-align: justify;
}
.modulo-textos p:first-child {
	margin-top: 100px;
}

.modulo-textos img.ilustracion {
	position: relative;
	display: block;
	margin: auto;
	width: 500px;
	margin-bottom: 30px;
}

/*solo los P que son hijos directos del section.Contenido > section*/


sup {
	line-height: 0;
}

@media (max-width: 1200px) {
	h1 {
		font-size: .85em;
	}
	
	.separaTemas {
		height: 20px;
	}
}

@media (max-width: 800px) {
	.modulo > p {
		color: darkslategray;
		margin-left: 10%;
		margin-right: 30px;
		line-height: 1.5;
	}
	.modulo-textos > p {
		
		width: 80%;
	}
	.modulo-textos img.ilustracion {
		width: 70%;
		max-width: 500px;
	}
}

@media (max-width: 500px) {
	h1 {font-size: .9em; margin-left: 0px; margin-top: 8px;}
	
	
	.separaTemas {display: none;}
	
	
}