@charset "UTF-8";
/* CSS Document */

#caso1, #caso2 {
	background-image: url("../casos-graficos/interfaz/ficha-bovino2.png");
}
#caso3, #caso4 {
	background-image: url("../casos-graficos/interfaz/ficha-ovino2.png");
}
#caso5 {
	background-image: url("../casos-graficos/interfaz/ficha-bufalo2.png");
}

#caso7, #caso8 {
	background-image: url("../casos-graficos/interfaz/ficha-caprino2.png");
}

@media (max-width: 1200px) {
	.moduloCaso {
		height: 300px;
	}
}

@media (max-width: 800px) {
	.moduloCaso {
		height: 200px;
		width: 100%;
		background-position: top;
	}
}
@media (max-width: 400px) {
	.moduloCaso {
		height: 150px;
	}
}